
<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Expert Zone</title>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.css" rel='stylesheet' type='text/css'>
        <link href="css/style2.css"  rel='stylesheet' type='text/css'>

        <script src='js/concierge.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
</head>

<body>
       <div class="navbar navbar-fixed-top">
                 <!-- Static navbar -->
                <div class="navbar-default" role="navigation">
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>

                                <a href="#" class="navbar-brand inline" ><img src="images/logo.png" alt="Ask an Expert" title="Ask an Expert" />
                                <h2>&nbsp; &nbsp; Ask an Expert</h2> </a>

                        </div>

                        <div class="navbar-collapse collapse" id="nav-bar">
                            <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                                <li class="navbar-left"><a href="../index.html">Home</a></li>
                                 <li class="navbar-left"><a href="#partners">about</a></li>
                                <li class="navbar-left"><a href="#partners">Partners</a></li>
                                <li class="navbar-left"><a href="#">BROWSE PAST ANSWERS</a></li>
                            </ul>
                        </div><!--/.nav-collapse -->
                </div><!--/.navbar -->
         </div>
         
       
<script>
    concierge.setApplicationKey("MTMzMzs0Njk=-1bfgt2uvqhkji1xwhz76ua0g831u1iwoyg3of61tnoe4e5wmd3qc4ifg4764ylr1");
    concierge.addDefaultButton(" OR Call an Expert Directly -for 500 credits-");

</script>

       <div class="clearfix">
        </div>
        <div class="clearfix">
        </div>

            <div class="container">
                <div class="slogan text-center">
                     <h1 class-"col-sm-5"><em><strong> You Asked: </strong></em></h1> <br>
                     <div class="box">
                    <img class="col-sm-5 image-responsive" src="images/submittedquestion.jpg" />
                  <h3 class="col-sm-4"> If an equilateral triangle has a height of 8, what is the length of each side? </h3>
                  </div>
                </div>	
            </div>
        

             
                <div class="row">
                    <div class="line-header" >
                        <div class="text-center">
                            <h2> Similar Questions that have already been Answered:</h2>
                        </div>
                    </div>
                </div>


<div class="container">
        <div class="row">
            <div class="text-left"> 
            <h6> Most Similar Question </h6>
            <ul class="list-inline col-xs-10 col-xs-offset-2">
               <li class="col-xs-6 float-left">    
                  <img class="image-responsive" width="200px" src="images/question2.png" />
                   </li>
                   <li class="col-xs-4 float-right"> 
                   <h4> If an equilateral triangle has a height of 8, find the length of each side. </h4> </li>
               <li class="col-xs-1"> </li>
               </ul>
            </div>
        </div>
</div>

<!--BOX 1 -->

            <div class="col-sm-12">
              <ul class="list-inline box">
                   <div ng-click=" ">

                  <a href="#answer1" class="confirmation progressive-button play1" data-toggle="modal" > 
 
                         <div class="boxcontainer stupid">

                                <div class="stupidtext"> Play Video
                                <p> - - 200 credits - - </p>
                                </div>
                                  <div class="stupidbg">
                                  </div>

                            <li class="col-sm-6">
                              <div class="pull-left">  
                              <img class="img-responsive" src="images/expert1.png" />
                              </div>
                            </li>

                            <li class="col-sm-6"> 
                             <div class="pull-right">
                                <span class="blog_header"> Answer 1 - by: Jon Smith </span><br/> <br>
                                    <span>Posted on: March 10th, 2015 </span><br>
                                <p > Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum [...]
                                </p> 
                                <br>
                                <h6> Rated: </h6>
                                 <p> 5 Stars
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                 <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 

                                  </p>

                                </div>
                            </li>
                          
                            </div>
                              </a>
                            </div>
                      </ul>  
                  </div> 


            <div id="answer1" class="modal fade">
                 <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                             <div class="modal-header" style="padding:25px margin-top:20px;">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h3 align="center modal-title">  By Playing this video, You will spend 200 credits. </h3>
                           </div>
                            
                            <div class="modal-body" style="padding:10px; margin:auto;">
                                 <div class="container-fluid col-xs-12" style="font-size:16px; margin-top:20px;">
                                        <table id="answer1" class="" border="0" align="center" cellpadding="0" cellspacing="3" style="background-color: #35679a; color: #356795"><tr>
                                        <td>
                                        <video width="600" height="400" controls>
                                          <source src="https://52.87.242.224/videos/video_1.mp4" type="video/mp4">
                                        </video>
                                      </td>
                                        </tr></table>

                                     <div class="modal-footer"> 
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>

                                    </div> <!--close container  -->
                            </div>  <!--close modal body -->

                    </div>  <!--close content -->
                    </div>  <!--close prop dialog -->
                </div><!--close prop tag -->



<!--BOX 2 -->

            <div class="col-sm-12">
              <ul class="list-inline box">
                   <div ng-click=" ">
                    <a class="progressive-button play1" data-toggle="modal" data-target="#answer1" >
                         <div class="boxcontainer stupid">
                                <div class="stupidtext"> 200 Credits to Play
                                </div>
                                  <div class="stupidbg">
                                  </div>

                            <li class="col-sm-6">
                              <div class="pull-left">  
                              <img class="img-responsive" src="images/expert2.png" />
                              </div>
                            </li>

                            <li class="col-sm-6"> 
                             <div class="pull-right">
                                <span class="blog_header"> Answer 2: </span><br/> <br>
                                    <span>Posted by : Joe Jasin </span><br>
                                <p > Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum [...]
                                </p> 
                                 <br>
                                <h6> Rated: </h6>
                                 <p> 4 Stars
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 

                                  </p>
                                    </div>
                            </li>
                            </div>
                              </a>
                            </div>
                      </ul>  
                  </div> 



            <div id="answer1" class="modal fade">
                 <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                             <div class="modal-header" style="padding:25px margin-top:20px;">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 align="center modal-title"> Answer 2 </h2>
                           </div>
                            
                            <div class="modal-body" style="padding:10px; margin:auto;">
                                 <div>

                                     <div class="modal-footer"> 
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>

                                    </div> <!--close container  -->
                            </div>  <!--close modal body -->

                    </div>  <!--close content -->
                    </div>  <!--close prop dialog -->
                </div><!--close prop tag -->




        <!--BOX 3 -->

          <div class="col-sm-12">
              <ul class="list-inline box">
                   <div ng-click=" ">
                    <a class="progressive-button play1" data-toggle="modal" data-target="#answer1" >
                         <div class="boxcontainer stupid">
                                <div class="stupidtext"> 200 Credits to Play
                                </div>
                                  <div class="stupidbg">
                                  </div>

                              <li class="col-sm-6">
                              <div class="pull-left">  
                              <img class="img-responsive" src="images/expert3.png" alt="gallery 2" />
                              </div>
                            </li>

                            <li class="col-sm-6"> 
                             <div class="pull-right">
                                <span class="blog_header"> Answer 3: </span><br/> <br>
                                    <span>Posted by : Joe Jasin </span><br>
                                <p > Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum [...]
                                </p>
                                  <h6> Rated: </h6>
                                 <p> 3 Stars
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 

                                  </p> </div>
                                </li>

                              </div>
                            </a>
                          </div>
                      </ul>  
                  </div> 

<div class="row">
</div>


<div class="container">
        <div class="row">
            <div class="text-left"> 
            <h6> Another Similar Question </h6>
            <ul class="list-inline col-xs-10 col-xs-offset-1">
               <li class="col-xs-6 float-left">    
                  <img class="image-responsive col-xs-6" src="images/question2.png" />
                   </li>
                   <li class="col-xs-4 float-right"> 
                   <h4> If an equilateral triangle has a height of 8, find the length of each side. </h4> </li>
               
               </ul>
            </div>
        </div>
</div>

<div class="row">
</div>

        <!--BOX 4 -->
            <div class="col-sm-12">
              <ul class="list-inline box">
                   <div ng-click=" ">
                    <a class="progressive-button play1" data-toggle="modal" data-target="#answer1" >

                         <div class="boxcontainer stupid">
                                <div class="stupidtext">200 Credits to Play
                                </div>
                                  <div class="stupidbg">
                                  </div>

                            <li class="col-sm-6">
                              <div class="pull-left">  
                              <img class="img-responsive" src="images/expert4.png" alt="gallery 2" />
                              </div>
                            </li>

                            <li class="col-sm-6"> 
                             <div class="pull-right">
                                <span class="blog_header"> Answer 4: </span><br/> <br>
                                    <span>Posted by : Joe Jasin </span><br>
                                <p > Morbi imperdiet ipsum sit amet dui pharetra, vulputate porta neque tristique. Quisque id turpis tristique, venenatis erat sit amet, venenatis turpis. Ut tellus ipsum, posuere bibendum [...]
                                </p> 
                                  <h6> Rated: </h6>
                                 <p> 3 Stars
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> 
                                  </p></div>
                            </li>
                              </div>
                            </a>
                          </div>
                      </ul>  
                  </div> 


<div class="row">
</div>


        <div class="partners" >
            <div class="container">
                <div class="row">


                    <div class="line-header" id="partners">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">PARTNERS</span>
                            <hr class="team_hr team_hr_right hr_gray" />
                        </div>
                    </div>
                    <div class="clearfix"></div>


                    <div class="text-center">

                        <div style="margin-top:60px;">
                            <ul class="list-inline">

                                 <li class="col-sm-1 partner-item">
                                </li>

                                 <li class="col-sm-2 col-md-2 partner-item">
                                    <a href="#"><img src="images/logos/reddis.jpeg" class="img-responsive" alt="partner 4" /></a>
                                </li>
                                 <li class="col-sm-2 col-md-2 partner-item">
                                    <a href="#"><img src="images/logos/corticalio.png" class="img-responsive" alt="partner 4" /></a>
                                </li>
                                <li class="col-sm-2 col-md-2 partner-item">
                                    <a href="#"><img src="images/logos/concierge.png" class="img-responsive" alt="partner 1" /></a>
                                </li>
                                
                                 <li class="col-sm-2 col-md-2 partner-item">
                                    <a href="#"><img src="images/logos/netapp.png" class="img-responsive" alt="partner 2" /></a>
                                </li>
                                 <li class="col-sm-2 col-md-2 partner-item">
                                    <a href="#"><img src="images/logos/HPE-OnDemand-e1453404044618.png" class="img-responsive" alt="partner 3" /></a>
                                </li>

                                 <li class="col-sm-1 partner-item">
                                </li>
                                
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('By Playing this Video, you will spend 200 Credits.')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
     }
</script>
 
        <div class="clearfix">
        </div>

        <div class="footer" >
            <div class="container">
                <div class="row">
                    <div class="text-center">

                        <div class="footer_container">
                            <a class="btn btn-lg btn-orange" href="#welcome" role="button" id="btn-back-to-top"> Back To Top</a>
                           </div>
                        <div class="footer_bottom_content">
                            <span>Copyright 2016 <a href="#">Expert Zone</a></span> <br /> <br/>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

  
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js"  type="text/javascript"></script>
        <script src="js/stickUp.min.js"  type="text/javascript"></script>
        <script src="js/colorbox/jquery.colorbox-min.js"  type="text/javascript"></script>
        <script src="js/templatemo_script.js"  type="text/javascript"></script>
    <!-- templatemo 395 urbanic -->

    </body>
</html>